APP_NAME=LAPORIN
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://localhost
APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID
LOG_CHANNEL=stack
LOG_LEVEL=debug
DB_CONNECTION=mysql
DB_HOST=laporin-db
DB_PORT=3306
DB_DATABASE=laporin
DB_USERNAME=laporin
DB_PASSWORD=[REDACTED]
APP_CIPHER=AES-256-CBC
SESSION_DRIVER=redis
SESSION_LIFETIME=120
CACHE_STORE=failover
CACHE_PREFIX=laporin_
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=strict
REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=null
REDIS_DB=0
REDIS_CACHE_DB=1
TRUSTED_PROXIES=
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_TIMEOUT=5
MAIL_USERNAME=openclaaw@gmail.com
MAIL_PASSWORD=[GOOGLE_APP_PASSWORD]
MAIL_FROM_ADDRESS=openclaaw@gmail.com
MAIL_FROM_NAME="LAPORIN"
WAHA_URL=https://waha.assetloan.my.id
WAHA_API_KEY=[WAHA_API_KEY]
WAHA_SESSION=default
